.booking-button-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 90%;
  justify-content: center;
  padding: 20px;
  border: 0px solid;
  outline: none;

  &:focus {
    outline: none;
  }
}

.newBookingButton {
  height: 10vh;
}

.modal-container {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  background-color: white;
  z-index: 1000;
  overflow: hidden;
  border: none;
  padding: 25px;
  outline: none;
  border-radius: 30px;

  & h2 {
    margin: 0;
  }
}

.form-group {
  width: 100%;
}

.form-group > label {
  position: relative;
  top: 7px;
  left: 15px;
  padding: 0 5px;
  background-color: white;
  color: black;
  font-size: 11px;
  font-weight: bold;
  pointer-events: none;
  z-index: 1000;
}

.form-input {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  width: 100%;
  border: 1px solid rgb(194, 192, 192);
  border-radius: 7px;
  padding: 10px;
  box-shadow: none;
  outline: none;

  &::placeholder {
    color: black;
    font-weight: bold;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  background-color: rgb(46, 104, 212);
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
  border: none;
  border-radius: 12px;
  padding: 14px 30px 14px 30px;
  margin: 17px auto 0 auto;
  box-shadow: none;
  outline: none;
  z-index: 1000;
}

.input-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.close {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
}
