.sign-in {
  width: 75vw;
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
