.header {
  height: 40px;
  width: 100%;
  display: flex;

  .options {
    font-size: 2vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
