.weekdays-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 3vh 0 0 0;
  display: grid;
  flex-grow: 1;
  grid-gap: 0 0.15em;
  grid-template-columns:
    minmax(10%, 70%) minmax(10%, 100%) minmax(10%, 100%) minmax(10%, 100%)
    minmax(10%, 100%) minmax(10%, 100%);
}

.week-label {
  font-family: Muli;
  font-weight: 700;
  font-size: 0.6rem;
  line-height: 1.6;
  text-align: center;
  background-color: #4d6eff;
  color: #fff;
  padding: 6px 0 6px 0;
  border-radius: 13px;
}

.monday {
  grid-column: 2;
}
