.bookingFormContainer {
  .bookingForm {
  }

  .ui.visible.top.overlay.sidebar {
    overflow: visible;
    z-index: 1000;
  }
}

.booking-container {
  z-index: 1000;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 7%;
  padding: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.644);
}
